* {
    box-sizing: border-box;
/*    border: 1px solid red;  */
}

body {
    background-color: rgb(36, 36, 36);
/*    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; */
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 80px;
}

/* Links style */

a {color: inherit; text-decoration: none;}
a:hover {color: rgb(255, 76, 77);}
a:active {color: rgb(255, 152, 77);}

a[href^="https"], .resource {text-decoration: underline;}

/* nav & footer */

footer, header {
    width: 100%;
    height: 60px;
    background-color: rgb(23, 23, 23);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

header {
    top: 0px;
    font-size: large;
    font-weight: bold;
}

nav a {
    padding: 20px;
    margin-inline: 20px;
}

footer {
    bottom: 0px;
}

footer .footer-content {
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

footer .footer-links {
    display: flex;
    height: inherit;
}

footer p {
    align-self: center;
}

footer img, footer a {
    height: 36px;
    width: auto;
}

footer a {
    height: 36px;
    margin: 12px;
    padding: 0;
}

/* Other styles */

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-block: 30px;

}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info {
    font-weight: bold;
    font-style: italic;
}

ul {
    align-self: flex-start;
    padding-left: 0;    
    list-style-type: none;
}

li, dd {
    padding-top: 0.5em;
}

p {
    align-self: flex-start;
    text-align: justify;
    line-height: 1.4em;
}

/* Home page style */

.home h1 {
    margin-block: 72px;
}

.icon-home a, .icon-home img {
    width: 72px;
    height: auto;
    margin: 72px 18px 0px;
}

/* FAQ page style */

.question {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.pc-picture {
    width: 90%;
    height: auto;
    margin-block: 30px;
}

/* Premium Worth List style */

.tank-cat {
    align-self: center;
    margin-top: -5px;
}

dl {
    align-self: flex-start;
    padding-left: 20px;
}

hr {
    width: 100%;
    border: 1px solid white;
}

h2.must-have {
    color: #ffc438;
}

.must-have {
    color: #ffd166;
}

h2.credit-grinder {
    color: #7eff7d;
}

.credit-grinder {
    color: #aff0ca;
    font-weight: bold;
}

h2.fun-only {
    color: #5a9cff
}

.fun-only {
    color: #b6dcf3;
}

h2.avoid {
    color: #ff5f5f;
}

.avoid {
    color: #ffafaf;
}