* {
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 36);
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 60px;
}

/* Links style */

a {color: inherit; text-decoration: none;}
a:hover {color: rgb(255, 76, 77);}
a:active {color: rgb(255, 152, 77);}

a.resource-link[href^="https"] {text-decoration: underline;}
a[href^="https"]:hover {color: inherit;}
a[href^="https"]:active {color: rgb(182, 142, 219);}

/* nav & footer */

footer, header {
    width: 100%;
    height: 60px;
    background-color: rgb(23, 23, 23);
    flex-shrink: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
}

nav a {
    padding: 20px;
    margin-inline: 20px;
}

footer .footer-content {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.info {
    font-weight: bold;
    font-style: italic;
}

p, ul {
    align-self: flex-start;
    padding-left: 0;
}

/* Premium Worth List specific style */


hr {
    width: 100%;
    border: 1px solid white;
}

h2.must-have {
    color: #ffc438;
}

.must-have {
    color: #ffd166;
}

h2.credit-grinder {
    color: #7eff7d;
}

.credit-grinder {
    color: #aff0ca;
    font-weight: bold;
}

h2.fun-only {
    color: #5a9cff
}

.fun-only {
    color: #b6dcf3;
}

h2.avoid {
    color: #ff5f5f;
}

.avoid {
    color: #ffafaf;
}